[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "tree-sitter-cpp"]
	path = tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "tree-sitter-json"]
	path = tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json.git
[submodule "tree-sitter-zig"]
	path = tree-sitter-zig
	url = https://github.com/maxxnino/tree-sitter-zig.git
[submodule "tree-sitter-typescript"]
	path = tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule "tree-sitter-scala"]
	path = tree-sitter-scala
	url = https://github.com/tree-sitter/tree-sitter-scala.git
