binding.gyp
Cargo.lock
Cargo.toml
default.nix
emscripten-version
**/.envrc
**/.git-blame-ignore-revs
grammar.json
*.html
*.js
LICENSE
Makefile
*.md
node-types.json
.npmignore
package.json
package-lock.json
Package.swift
**/.prettierrc.json
*.rs
*.sh
tree-sitter/highlight
tree-sitter.patch
tree-sitter-scala/.envrc
tree-sitter-scala/.git-blame-ignore-revs
tree-sitter-scala/.prettierrc.json
*.ts
*.txt
**/.vscode
*.wasm
*.yml
