[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "tree-sitter-cpp"]
	path = tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "tree-sitter-json"]
	path = tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json.git
[submodule "tree-sitter-zig"]
	path = tree-sitter-zig
	url = https://github.com/maxxnino/tree-sitter-zig.git
[submodule "tree-sitter-typescript"]
	path = tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule "tree-sitter-scala"]
	path = tree-sitter-scala
	url = https://github.com/tree-sitter/tree-sitter-scala.git
[submodule "tree-sitter-haskell"]
	path = tree-sitter-haskell
	url = https://github.com/tree-sitter/tree-sitter-haskell.git
[submodule "tree-sitter-python"]
	path = tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "tree-sitter-rust"]
	path = tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
[submodule "tree-sitter-julia"]
	path = tree-sitter-julia
	url = https://github.com/tree-sitter/tree-sitter-julia.git
